/* Project Section */

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-tile {
  max-width: 500px;
  margin: 32px;
  background-color: $accent-color;
  padding: 16px;
  color: $light-text;

  div {
    padding: 16px 8px;
    margin-bottom: 16px;
    border-top: 2px solid $light-text;
    border-bottom: 2px solid $light-text;
  }

  img {
    width: 100%;
  }

  button {
    background: $main-color;
    color: $light-text;
    border: none;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    margin-top: -7px;

    transition: background 0.25s, color 0.25s;
  }

  a:hover button {
    background: $active-color;
    color: $dark-text;
  }
}
