#welcome-section {
  height: 100vh;
  line-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $main-color;
  color: $light-text;
  text-align: center;

  @media screen and (max-width: $small-break) {
    h1 {
      margin: 0;
    }
  }
}
